@inherits CardSectionListingComponentVM

<div class="card-group col-sm-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title row">
                <h2 class="col-sm-10">@CardSection.Title</h2>
                <div class="col-sm-2">
                    <button @onclick=DeleteAsync class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>

    @foreach (var card in CardSection.Cards ?? new Card[] { })
    {
        <div class="card col-sm-3">
            <div class="body">
                <div class="card-title h2">@card.Title</div>
                <div class="card-text">@card.Description</div>
            </div>
        </div>
    }

</div>