@inherits CardSectionListingComponentVM

<div class="card-group col-sm-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title row">
                <h2 class="col-sm-10">@CardSection.Title</h2>
                <div class="col-sm-2">
                    <button @onclick=DeleteAsync class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>

    @foreach (var card in CardSection.Cards ?? new Card[] { })
    {
        <div class="card">
            <div class="body">
                <div class="card-title h2">@card.Title</div>
                <div class="card-text">@card.Description</div>
            </div>
        </div>
    }

    <div class="card">
        @if (CardAdd != null)
        {
        <EditForm Model=CardAdd OnValidSubmit=AddCardAsync>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <InputText @bind-Value=CardAdd.Title class="form-control" />
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <InputTextArea @bind-Value=CardAdd.Description class="form-control" />
            </div>

            <input type="submit" class="btn btn-success btn-sm" value="Add" />
        </EditForm>
        }
    </div>

</div>