[Unit]
Description=Projects blazor app

[Service]
WorkingDirectory=/var/www/blazingProj
ExecStart=/usr/bin/dotnet /var/www/blazingProj/BlazingProjects.Website.dll --urls http://localhost:#{url.port}#
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=blazingProj
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=connectionStrings__sqlDb='#{confg.sqlDb}#'

[Install]
WantedBy=multi-user.target
