@inherits NewProjectVM
@page "/newProject"

<EditForm Model=ProjectAdd OnValidSubmit=AddAsync>

    <DataAnnotationsValidator />
    
    <InputText @bind-Value=ProjectAdd.Title />

    <button class="btn btn-success" type="submit">Add</button>

    <ValidationSummary />

</EditForm>