@inherits ProjectPageVM
@page "/project/{ProjectId:int}"


@if (Project == null)
{
    <div>Loading...</div>
}
else
{
<div class="row">
    <h1 class="col-sm-11">@Project.Title</h1>
    <button class="btn btn-danger btn-sm" @onclick=DeleteAsync>Delete</button>
</div>

<div class="row">
    @foreach (var cardSection in CardSections ?? new CardSection[] { })
    {
        <CardSectionListingComponent CardSection=cardSection
                                     OnDelete=@(() => OnDeleteSection(cardSection)) />
    }

    <div class="col-sm-4 p-3 bg-primary d-table">

            <EditForm Model=CardSectionAdd OnValidSubmit=AddSectionAsync>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">New Section</span>
                    </div>
                    <InputText @bind-Value=CardSectionAdd.Title class="form-control" />
                    <div class="input-group-append">
                        <AddButtonComponent />
                    </div>
                </div>

            </EditForm>
    </div>

</div>

}
