@inherits ProjectPageVM
@page "/project/{ProjectId:int}"


@if (Project == null)
{
    <div>Loading...</div>
}
else
{
<div class="row">
    <h1 class="col-sm-11">@Project.Title</h1>
    <button class="btn btn-danger btn-sm" @onclick=DeleteAsync>Delete</button>
</div>

<div class="row">

</div>

}
